<!DOCTYPE html>
<html>
<head>
	<title>Acerca de nosotros</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Mi empresa</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Inicio</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Acerca de nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contacto</a>
      </li>    
    </ul>
  </div>  
</nav>

<div class="container">
	<h1 class="text-center">Acerca de nosotros</h1>
	<hr>
	<p class="lead">Somos una empresa de desarrollo e investigación comprometida con la innovación y la creatividad. Nuestro equipo está formado por expertos en diferentes áreas, como programación, diseño gráfico, análisis de datos y marketing digital, entre otros.</p>
	<p class="lead">En nuestra empresa, trabajamos en proyectos desafiantes y emocionantes que nos permiten explorar nuevas tecnologías y crear soluciones innovadoras para nuestros clientes. Nos esforzamos por mantenernos a la vanguardia de las últimas tendencias y técnicas en el campo de la tecnología y la investigación.</p>
	<p class="lead">Si estás buscando una empresa que pueda ayudarte a llevar tus ideas al siguiente nivel, no dudes en contactarnos. Estamos aquí para ayudarte a hacer realidad tus sueños.</p>
</div>

</body>
</html>
