<!-- templates/home/home.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Mi sitio web</title>
</head>
<body>
    <h1>Bienvenido a mi sitio web</h1>
    <p>En este sitio web podrás registrarte y acceder a contenido exclusivo.</p>
    <button type="button" onclick="window.location.href='{{ register_url }}'">Registrarse</button>
    <button type="button" onclick="window.location.href='{{ Acceso_url }}'">Acceso</button>
    <button type="button" onclick="window.location.href='{{ index_url }}'">Preguntas</button>
</body>
</html>
